<div class="col-md-12" >
    <h1 ng-bind="title"></h1>
</div>
<div class="container">
    <div class="form-group">
        <label for="title">Title Filter</label>
        <input type="text"
               class="form-control"
               placeholder="Title Filter..."
               ng-model="author.title" />
    </div>

    <div class="form-group">
        <label for="author">Author Filter</label>
        <input type="text"
               class="form-control"
               placeholder="Author Filter..."
               ng-model="author.author" />
    </div>
</div>

    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Body</th>
                <th>Post Date</th>
            </tr>
            <tr ng-repeat="post in data.posts | filter: author : title | censor ">
                <td class="col-md-1" ng-bind="post.title"></td>
                <td class="col-md-1" ng-bind="post.author"></td>
                <td class="col-md-1" ng-bind="post.body"></td>
                <td class="col-md-1" ng-bind="post.postDate | date:'medium'"></td>
                <td class="col-md-1">

                    <button type="button"
                            class="btn btn-success glyphicon glyphicon-thumbs-up"
                            title="Up Vote"
                            ng-click="upVote(post)">
                        <span ng-bind="post.upvotes">
                        </span>
                    </button>
                    <button type="button"
                            class="btn btn-danger glyphicon glyphicon-thumbs-down"
                            title="Down Vote"
                            ng-click="downVote(post)">
                        <span ng-bind="post.downvotes"></span>

                    </button>

                    <button type="button"
                            class="btn btn-info"
                            ng-click="subscribe(post.author)"
                            ng-show="data.subscribedAuthors.indexOf(post.author) == -1">
                        <span class="glyphicon glyphicon-eye-open"></span> Subscribe
                    </button>

                    <span ng-show="data.subscribedAuthors.indexOf(post.author) != -1">
                        <span class="glyphicon glyphicon-ok"></span> Subscribed
                    </span>

                    <!--<subscribe-button ng-model="subscribedAuthors.indexOf(post.author)"></subscribe-button>-->
                </td>
            </tr>
        </table>

    </div>

